<p-toolbar styleClass="mb-6">
  <ng-template #start>
    <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
    <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedProducts()" />
  </ng-template>

  <ng-template #end>
    <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
  </ng-template>
</p-toolbar>

<p-table #dt [rows]="10" [value]="products()" [columns]="cols" [paginator]="true"
  [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
  [tableStyle]="{ 'min-width': '75rem' }" [rowHover]="true" dataKey="id" stripedRows
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} products" [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 20, 30]">
  <ng-template #header>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template #body let-product>
    <tr>
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.description}}</td>
      <td>{{product.price}}€</td>
      <td>
        <i class="pi pi-pencil" style="cursor: pointer; margin-right: 10px;"></i>
        <i class="pi pi-trash" style="cursor: pointer;"></i>
      </td>
    </tr>
  </ng-template>

</p-table>

<p-dialog header="Ajouter un produit" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
  <div class="formgrid grid">
    <form [formGroup]="formGroup" class="col-12" (submit)="submit()">
      <p-float-label variant="in">
        <input id="name" pInputText [formControl]="nameFormControl" />
        <label for="name">Name</label>
      </p-float-label>
      <br />
      <p-float-label variant="in">
        <input id="description" pInputText [formControl]="descriptionFormControl"/>
        <label for="description">Desctiption</label>
      </p-float-label>
      <br />
      <p-floatlabel variant="in">
        <p-inputnumber inputId="price" mode="currency" currency="EUR" locale="fr-FR" [formControl]="priceFormControl"/>
        <label for="price">Price</label>
      </p-floatlabel>
      <br />
      <p-button label="Save" icon="pi pi-check" severity="primary" class="mt-2" [style]="{'margin-right': '15px'}" type="submit"/>
      <p-button label="Cancel" icon="pi pi-times" severity="secondary" class="mt-2 ml-2" (onClick)="visible = false" />
    </form>
  </div>
</p-dialog>